/* * {
  box-sizing: bordered-box;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  color: black;
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.list {
  margin: 2%;
  list-style: none;
}

.nav_items {
  display: inline;
  padding: 2%;
  margin-bottom: 0;
}

#homeicon {
  height: 2pc;
  float: left;
  border-radius: 20%;
}

.searchbar {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.searchimg {
  height: 20px;
  width: 10px;
  background-color: blue;
  padding: 0%;
}

.sbutton {
  width: 60px;
  padding: 0px;
}

.cover {
  border-radius: 10%;
  height: 300px;
}

.postimage {
  padding: 10px;
}

.image {
  background-color: black;
  max-width: 100%;
  max-height: 100%;
}

.postdesc {
  margin: 1%;
}

.profile {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.fa-thumbs-up {
  font-size: 100px;
  cursor: pointer;
  user-select: none;
  color: rgba(7, 7, 7, 0.485);
}

.fa:hover {
  color: rgba(102, 111, 238, 0.751);
}

.reaction {
  list-style-type: none;
  color: rgba(0, 0, 0, 0.501);
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.reaction-items {
  padding-left: 2%;
  display: inline;
  margin-right: 20px;
}

.outbox {
  background-color: rgba(50, 0, 247, 0.031);
  border-radius: 2%;
  margin: 0 auto;
  width: fit-content;
  padding: 2%;
}

.inbox {
  padding: 2%;
}

.outboxtitle {
  color: rgb(15, 15, 148);
}

.post {
  padding: 2%;
  margin: 7%;
  margin-top: 0%;
}

.pages_style {
  background-color: wheat;
} */
* {
  box-sizing: bordered-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(1, 5, 24);
  background: linear-gradient(
    90deg,
    rgba(1, 5, 24, 1) 0%,
    rgba(144, 1, 40, 1) 100%
  );
}

.navbari {
  list-style-type: none;
  padding: 0%;
  color: black;
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px -5px 30px 5px rgb(95, 1, 31), 5px 5px 30px 5px rgb(1, 1, 56);
}

.list {
  margin: 2%;
  list-style: none;
}

.nav_items {
  display: inline;
  margin-bottom: 0;
}

.nav_item {
  text-decoration: none;
  color: black;
}

.nav_item:hover {
  background: #590139 !important;
  color: white !important;
}

#homeicon {
  height: 2pc;
  float: left;
  border-radius: 20%;
}

.searchbar {
  width: 30%;
  display: flex;
  justify-content: space-between;
  height: 30%;
  padding-top: 1.5pc;
}

.searchimg {
  height: 20px;
  width: 10px;
  background-color: blue;
  padding: 0%;
}

.sbutton {
  width: 60px;
  padding: 0px;
}

.cover {
  border-radius: 10%;
  height: 300px;
}

.postimage {
  padding: 10px;
}

.image {
  background-color: black;
  max-width: 100%;
  max-height: 100%;
}

.postdesc {
  margin: 1%;
}

.fa-heart {
  cursor: pointer;
  user-select: none;
  color: rgb(96, 95, 95);
}
.fa:hover {
  color: red;
}

.reaction {
  list-style-type: none;
  color: rgba(0, 0, 0, 0.501);
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.reaction-items {
  padding-left: 2%;
  display: inline;
  margin-right: 20px;
}

.outbox {
  background-color: rgba(50, 0, 247, 0.031);
  border-radius: 2%;
  margin: 0 auto;
  width: fit-content;
  padding: 2%;
}

.inbox {
  padding: 2%;
}

.outboxtitle {
  color: rgb(15, 15, 148);
}

.post {
  padding: 2%;
  margin-top: 0%;
  box-shadow: 0px -5px 30px 5px rgb(95, 1, 31), 5px 5px 30px 5px rgb(1, 1, 56);
}

.pages_style {
  background-color: wheat;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 5%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 5px 5px 5px 5px #320a1cc6;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #7c0139fe;
  color: wheat;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.show {
  display: block;
}

.profilepic {
  height: 2pc;
  width: 2pc;
  border-radius: 50%;
  background-color: black;
}

#username {
  margin-left: 20px;
  margin-right: 10px;
}

.profile {
  display: inline-flex;
  padding: 20px;
}

.about {
  padding: 30px;
  box-shadow: 0px -5px 30px 5px rgb(95, 1, 31), 5px 5px 30px 5px rgb(1, 1, 56);
  margin-right: 10px;
  margin-left: 5px;
  width: fit-content;
  block-size: fit-content;
}

.lprofile {
  text-align: center;
}

.labout {
  text-align: justify;
  padding: 5%;
}

.lprofileimg {
  border-style: groove;
  border-radius: 40%;
  height: 120px;
  width: 90px;
}

.maindiv {
  padding: 2%;
  padding-top: 0%;
}

@media all and (max-width: 480px) {
  .about {
    display: none;
  }
}

.textarea {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5%;
}
